<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Bukan Pinjol</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              </ul>
            </div>
        </nav>
        <% if (errors) { %>
            <% errors.forEach(el => { %>
                <p style="color: red;"><%= el %></p>
            <% }) %>
          <% } %>

        <div class="container mt-5">
            <div class="justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">Registration</h1>
                        </div>
                        <div class="card-body">
                            <form action="/register" method="POST">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required>
                                </div>
                    
                                <div class="mb-3>
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
                                </div>
                    
                                <div class="mb-3>
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" id="username" name="username" placeholder="Alphabets and Numeric only" required>
                                </div>
                    
                                <div class="mb-3>
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                                </div>
                    
                                <div class="mb-3>
                                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                                </div>
                    
                                <div class="mb-3>
                                    <input type="radio" id="admin" name="isAdmin" value="1">
                                    <label for="admin">Admin</label>
                    
                                    <input checked="checked" type="radio" id="notAdmin" name="isAdmin" value="0">
                                    <label for="notAdmin">Not Admin</label>
                                </div>
                    
                                <div  class="d-grid">
                                    <button type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

    <h1>Hello <%= userData.Detail.fullName %></h1>
    <p>Username : <%= userData.username %></p>
    <p>Account Number : <%= userData.Detail.accountNo %></p>
    <p>Account Type : <%= userData.Type.typeName %></p>
    <p>Your Account balance:</p>
    <p>IDR: <%= userData.Detail.balance %></p>
    <p>USD: <%= balanceUSD %></p>
    <p>EUR: <%= balanceGBP %></p>
    <form action="/deposit" method="get">
        <button type="submit">Deposit</button>
    </form>
    <form action="/withdraw" method="get">
        <button type="submit">Withdraw</button>
    </form>
    <form action="/transfer" method="get">
        <button type="submit">Transfer</button>
    </form>
    <% if (userData.Type.canBuyShares) { %>
        <form action="/sharesLists">
            <button type="submit">Buy Shares</button>
        </form>
    <% } %>
    <% if (userData.isAdmin) { %>
        <form action="/userLists">
            <button type="submit">View Users as Admin</button>
        </form>
    <% } %>

    
    <!-- ini home awal -->
    <% if (logData) { %>
     <table border="1">
        <tr>
            <th>Transaction ID</th>
            <th>Transaction Type</th>
            <th>Company Name</th>
            <th>Transaction Date</th>
            <th>Stock Bought</th>
            <th>Total Price</th>
        </tr>
        <% logData.forEach(el => { %>
        <tr>
            <td><%= el.id %></td>
            <td>Bought Shares</td>
            <td><%= el.Share.companyName %></td>
            <td><%= el.formatDate %></td>
            <td><%= el.boughtShares %></td>
            <td><%= el.sharesPrice %></td>
        </tr>
        <% }) %>
     </table>
    <% } %>

    <form method="get" action="/userLists/delete/">
        <input type="hidden" name="userId" value="<%= el.id %>">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>


    <!-- ini userlist awal -->
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        <% data.forEach(el => { %>
         <tr>
            <td><%= el.id %></td>
            <td><%= el.username %></td>
            <td><%= el.Detail.accountNo %></td>
            <td><%= el.Type.typeName %></td>
            <td><%= el.Detail.balance %></td>
            <td>
                <form action="/userLists/delete/<%= el.id %>" method="get">
                    <button type="submit">Delete</button>
                </form>
            </td>
         </tr>
        <% }) %>
    </table>


    <!-- ini transfer -->
    <form action="/transfer" method="POST">
        <label for="accountNo">Account Number:</label>
        <input type="number" id="accountNo" name="accountNo" required>
        <br>
        <label for="amount">Amount IDR:</label>
        <input type="number" id="amount" name="amount" required>
        <br>
        <button type="submit">Transfer</button>
    </form>

        <script src="path-to-your-bootstrap-js/bootstrap.min.js"></script>
    </body>
</html>