<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello <%= userData.Detail.fullName %></h1>
    <p>Username : <%= userData.username %></p>
    <p>Account Number : <%= userData.Detail.accountNo %></p>
    <p>Account Type : <%= userData.Type.typeName %></p>
    <p>Your Account balance:</p>
    <p>IDR: <%= userData.Detail.balance %></p>
    <p>USD: <%= balanceUSD %></p>
    <p>EUR: <%= balanceGBP %></p>
    <form action="/deposit" method="get">
        <button type="submit">Deposit</button>
    </form>
    <form action="/withdraw" method="get">
        <button type="submit">Withdraw</button>
    </form>
    <form action="/transfer" method="get">
        <button type="submit">Transfer</button>
    </form>
    <% if (userData.Type.canBuyShares) { %>
        <form action="/sharesLists">
            <button type="submit">Buy Shares</button>
        </form>
    <% } %>
    <% if (userData.isAdmin) { %>
        <form action="/userLists">
            <button type="submit">View Users as Admin</button>
        </form>
    <% } %>

    <% if (logData) { %>
     <table border="1">
        <tr>
            <th>Transaction ID</th>
            <th>Transaction Type</th>
            <th>Company Name</th>
            <th>Transaction Date</th>
            <th>Stock Bought</th>
            <th>Total Price</th>
        </tr>
        <% logData.forEach(el => { %>
        <tr>
            <td><%= el.id %></td>
            <td>Bought Shares</td>
            <td><%= el.Share.companyName %></td>
            <td><%= el.formatDate %></td>
            <td><%= el.boughtShares %></td>
            <td><%= el.sharesPrice %></td>
        </tr>
        <% }) %>
     </table>
    <% } %>
</body>
</html>